################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/TypeSafe.lastbuildstate
/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/link.write.1.tlog
/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/link.read.1.tlog
/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/link.command.1.tlog
/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/CL.write.1.tlog
/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/CL.read.1.tlog
/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/CL.command.1.tlog
*.log
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.ipch
*.suo
*.db
*.opendb
/TestMinMaxComparison/TestMinMaxComparison/x64
/TestMinMaxComparison/x64/Release
/TypeSafe/TypeSafe/x64/Debug/TypeSafe.tlog
/Wavelets/Haar.zip
