################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TypeSafe/TypeSafe/Debug/TypeSafe.tlog/TypeSafe.lastbuildstate
